@{
    ViewBag.Title = "Login";
}

<h2>Página de Login</h2>
<p>Este formulario de ingreso, sin ingreso no puedes gestionar tareas.</p>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <p>
        <label>Usuario:</label>
        <input type="text" name="username" />
    </p>
    <p>
        <label>Contraseña:</label>
        <input type="password" name="password" />
    </p>
    <button type="submit" class="btn btn-primary">Loguearse</button>
}